<!doctype html>
<html lang="en">
    <head>
        <title>xabash - new quote</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="/views/client.js"></script>
        <script src="/views/new.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/views/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" id="mainNavbar">
            <a href="/" class="navbar-brand">xabash</a>
            <div class="navbar-nav">
                <div class="nav-item nav-link">
                    <a href="/search">Search</a>
                </div>
                <div class="nav-item nav-link currentNavArea">
                    <a href="/new">Submit</a>
                </div>
            </div>
        </nav>
        <div id="inputs" class="section">
            <h3>Content:</h3>
            <h5>Content Guidelines:</h5>
            <ul>
                <li>Indicate contexts like comments in Java: eg <code>// adobe connect lagging again</code></li>
                <li>Indicate actions with asterisks: eg <code>Ethan: *spams skype bulletin*</code></li>
                <li>Indicate person speaking with name and colon: eg <code>Karan: wow xabash is awesome!</code></li>
            </ul>
            <textarea id="content" style="width: 100%"></textarea>
            <br>
            <h3>Notes:</h3>
            <input id="notes" style="width: 100%">
            <br>
            <h3>Tags:</h3>
            <h5>Tagging Guidelines:</h5>
            <ul>
                <li>Keep it generic! <code>skype</code> is better than <code>skype.ping</code> or <code>rejection.on.skype</code>!</li>
                <li>Tag everyone involved/mentioned!</li>
                <li>Keep tags lowercase! <code>IRL</code> is not acceptable but <code>irl</code> is.</li>
                <li>Tag a professor with last name only: eg <code>niazi</code></li>
                <li>Tag a class with class id: eg <code>ocs25</code></li>
                <li>Tag a student with name and last initial: eg <code>karan.g</code></li>
                <li>Multiword tags should have words separated by dots: eg <code>adobe.connect</code></li>
            </ul>
            <input id="tags" style="width: 100%">
            <br>
        </div>
        <button id="new" class="btn btn-success btn-block">Submit!</button>
    </body>
</html>
