<!doctype html>
<html lang="en">
    <head>
        <title>xabash - new quote</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="/views/client.js"></script>
        <script src="/views/new.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/views/style.css">
    </head>
    <body>
        <h1>new quote</h1>
        <div id="inputs">
            <textarea id="content" style="width: 100%"></textarea>
            <input id="notes" style="width: 100%">
            <input id="tags" style="width: 100%">
        </div>
        <button id="new" class="btn btn-success btn-block">Submit!</button>
    </body>
</html>
