<!doctype html>
<html>
    <head>
        <title>xabash - search quotes</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/views/client.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/views/style.css">
    </head>
    <body>
        <div id="header" class="section">
        <h1>search quotes (will add navbar eventually!)</h1>
        </div>
        <div id="searchArea" class="section">
            <input id="quote_id" placeholder="quote id...">
            <input id="content" placeholder="quote content...">
            <input id="tags" placeholder="tags...">
            <input id="upvotes" placeholder="upvotes... (more than)">
            <input id="downvotes" placeholder="downvotes... (more than)">
            <button id="searchButton">Search for Quotes</button>
        </div>
        <div id="quotesArea" class="section">
        </div>       
    </body>
</html>
