.section {
    margin: 1%;
}

#searchArea {
    width: 23%;
    float: right;
    height: 100%;
}

#quotesArea {
    width: 73%;
    height: 100%;
    float: left;
}

.quoteContent {
    background-color: #ddd;
    padding: 1rem;
}

.quoteNotes {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.breadcrumb, p, pre {
    margin: 0rem;
}

.quote {
    margin-top: 0rem;
}

.vote {
    color: #3eb489;
}

.takeback {
    color: #b43e69;
}
#inputs, #new, h1 {
    width: 90%;
    margin: 1%;
    float: left;
}

#mainNavbar {
    background-color: #f66;
    margin: 1%;
    border-radius: 12px;
    font-size: 1.6rem;
}

.navbar-brand {
    font-size: 2rem;
}

#currentNavArea {
    background-color: #eee;
}