.section {
    margin: 1%;
}

#searchArea {
    width: 23%;
    float: right;
    height: 100%;
}

#quotesArea {
    width: 73%;
    height: 100%;
    float: left;
}

.quoteContent {
    background-color: #cccccc;
    padding: 1rem;
    margin: 0rem;
}